<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

   <title>
      {% if page.title == "Home" %}
         {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
         {{ page.title }} &middot; {{ site.title }}
      {% endif %}
   </title>

<!-- CSS -->
<link href="https://fonts.googleapis.com/css?family=Paprika|Quattrocento+Sans:400,400i,700|Quattrocento:400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

<!-- Icon -->
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">

<!-- RSS -->
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
</head>
