/*
 * Sidebar - lanyon + modifications
 * The lanyon sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modified both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 *
 * Modification of the lanyon sidebar was inspired by Jelena Jovanovic:
 *   https://codepen.io/plavookac/pen/qomrMw;
 * uses a different method to overlay sidebar and animate the toggle (hamburger/X).
 * Still using Lanyon template to populate the sidebar menu, though.
 * ~ anonymous developer
 */

/* Style and "hide" the sidebar */

.switch {
   display: block;
   position: absolute;
   height: 60px;
   width: 250px;
}

#sidebarMenu {
   background-color: #4BAFC6;
   color: rgba(255,255,255,.6);
   height: 100%;
   position: absolute;
   left: -14rem;
   width: 14rem;
   transform: translateX(0);
   transition: transform 450ms ease-in-out;
   padding-top: 60px;
   font-family: "PT Sans", Helvetica, Arial, sans-serif;
   font-size: .875rem; /* 15px */
   z-index: 77;
}

@media (min-width: 30em) {
   #sidebarMenu {
      font-size: .75rem; /* 14px */
   }
}

/* Sidebar content */
#sidebarMenu a {
   font-weight: normal;
   color: #fff;
}
.sidebar-item {
   padding: 1rem;
}
.sidebar-item p:last-child {
   margin-bottom: 0;
}
.sidebar-footer {
   bottom: 0;
   padding: 1rem;
}

/* Sidebar nav */
.sidebar-nav {
   border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item {
   display: block;
   padding: .5rem 1rem;
   border-top: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
   text-decoration: none;
   background-color: rgba(255,255,255,.1);
   border-color: transparent;
}

@media (min-width: 48em) {
   .sidebar-item {
      padding: 1.5rem;
   }
   .sidebar-nav-item {
      padding-left:   1.5rem;
      padding-right: 1.5rem;
   }
}

/* Style the sidebar content */

.sidebarMenuInner {
   margin: 0;
   padding: 0;
   border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner a {
   color: #fff;
   font-weight: bold;
   padding: 20px;
   cursor: pointer;
   text-decoration: none;
   border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

input[type="checkbox"]:checked~#sidebarMenu {
   transform: translateX(14rem);
}

/* Style the sidebar toggle button */

input[type=checkbox] {
   transition: all 0.3s;
   box-sizing: border-box;
   display: none;
}

.sidebarIconToggle {
   transition: all 0.3s;
   box-sizing: content-box;
   border-radius: 30px;
   box-shadow: 0px 0px 40px rgba(204,255,255,0.05) inset;
   cursor: pointer;
   position: fixed;
   height: 22px;
   width: 22px;
   margin: 2px;
   padding: 20px 18px 14px;
   z-index: 99;
}

.spinner {
   transition: all 0.3s;
   box-sizing: border-box;
   position: absolute;
   height: 3px;
   width: 100%;
   background-color: #444444;
}

.horizontal {
   transition: all 0.3s;
   box-sizing: border-box;
   position: relative;
   float: left;
   margin-top: 3px;
}

.diagonal.part-1 {
   position: relative;
   transition: all 0.3s;
   box-sizing: border-box;
   float: left;
}

.diagonal.part-2 {
   transition: all 0.3s;
   box-sizing: border-box;
   position: relative;
   float: left;
   margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle {
   background-position: -100% 0;
   box-shadow: none;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
   transition: all 0.3s;
   box-sizing: border-box;
   opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
   transition: all 0.3s;
   box-sizing: border-box;
   transform: rotate(135deg);
   margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
   transition: all 0.3s;
   box-sizing: border-box;
   transform: rotate(-135deg);
   margin-top: -9px;
}

@media (min-width: 30.1em) {
   .sidebar-toggle {
      position: fixed;
   }
}

@media print {
   .sidebar-toggle {
      display: none;
   }
}


.wrap,
.sidebar,
.sidebar-toggle {
   -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
         backface-visibility: hidden;
}
.wrap,
.sidebar-toggle {
   -webkit-transition: -webkit-transform .3s ease-in-out;
         transition: transform .3s ease-in-out;
}

#sidebar-checkbox:checked + .sidebar {
   z-index: 10;
   visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
   -webkit-transform: translateX(14rem);
      -ms-transform: translateX(14rem);
         transform: translateX(14rem);
}
